<%- include("partials/header"); -%>

<body class="animBG3">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check2" viewBox="0 0 16 16">
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            <path
                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
            <path
                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </symbol>
    </svg>


    <div class="container">
        <header class="border-bottom lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#"></a>
                </div>
                <div class="col-4 text-center">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none " href="/"
                        method="get">Bloggin</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="Search">
                        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                            stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                            viewBox="0 0 24 24"> -->
                        <title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5" />
                        <path d="M21 21l-5.2-5.2" />
                        </svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="/logout" method="get">Logout</a>

                    <a class="btn btn-sm btn-outline-secondary" style="margin-left:15px;" href="/user/<%=currentUser%>"
                        method="get">Account</a>
                </div>
            </div>
        </header>

    </div>

    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary animBG2">
            <div class="col-lg-6 px-0" id="composeInvite">
                <div id="inviteText">
                    <h1 class="display-4 fst-italic">Write a new Post</h1>
                    <img src="images/right-arrow.png">
                </div>
                <a class="btn btn-sm btn-outline-secondary" href="/compose" method="get">Compose</a>
            </div>
        </div>
        <a href="/posts/<%= thePosts[0]._id %>" class="text-body-emphasis text-decoration-none">
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
                <div class="px-0">
                    <h1 class="display-4 fst-italic"><%=thePosts[0].title %></h1>
                    <p class="lead my-3"><%= thePosts[0].content.substring(0,150);%></p>
                    <p class="lead mb-0">
                        <a href="/posts/<%= thePosts[0]._id %>" class="text-body-emphasis fw-bold"
                            style="text-decoration: none;">Continue
                            reading...</a>
                    </p>
                </div>
            </div>
        </a>

        <div class="row mb-2">
            <div class="col-md-6">
                <a href="/posts/<%= thePosts[1]._id %>" class="text-body-emphasis text-decoration-none">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
                            <h3 class="mb-0"><%=thePosts[1].title%></h3>
                            <p class="blog-post-meta"><%=thePosts[1].date.toDateString();%></p>
                            <p class="mb-auto"><%=thePosts[1].content.substring(0,70)+"...."%>
                            </p>
                            <a class="text-body-emphasis fw-bold" href="/posts/<%=thePosts[1]._id%>"
                                style="text-decoration: none; color: black;">
                                Read more
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="/posts/<%=thePosts[2]._id%>" method="get" class="text-body-emphasis"
                    style="text-decoration: none;">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <!-- <strong class="d-inline-block mb-2 text-success-emphasis">Design</strong> -->
                            <h3 class="mb-0"><%=thePosts[2].title%></h3>
                            <p class="blog-post-meta"><%=thePosts[2].date.toDateString();%></p>
                            <p class="mb-auto"><%=thePosts[2].content.substring(0,70)+"...."%>
                            </p>
                            <a class="text-body-emphasis fw-bold" href="/posts/<%=thePosts[2]._id%>"
                                style="text-decoration: none; color: black;">
                                Read more
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-md-8">
                <a href="/posts/<%= thePosts[3]._id %>" class="text-body-emphasis text-decoration-none">
                    <div class="blog-post">
                        <h2 class="display-5 link-body-emphasis mb-1"><%=thePosts[3].title%></h2>
                        <p class="blog-post-meta"><%=thePosts[3].date.toDateString();%>
                        </p>
                        <p><%=thePosts[3].content.substring(0,90)%> <a href="/posts/<%=thePosts[3]._id%>" method="get"
                                class="text-body-emphasis fw-bold icon-link gap-1 icon-link-hover "
                                style="text-decoration: none;">
                                Continue reading
                                <svg class="bi">
                                    <use xlink:href="#chevron-right" />
                                </svg>
                            </a> </p>
                        <!-- <a href="/posts/<%=thePosts[3]._id%>"
                        class="text-body-emphasis fw-bold icon-link gap-1 icon-link-hover stretched-link" method="get"
                        style="text-decoration: none;">
                        Continue reading
                        <svg class="bi">
                            <use xlink:href="#chevron-right" />
                        </svg>
                    </a> -->
                    </div>
                </a>
                <hr>
                <div>

                    <a href="/posts/<%= thePosts[0]._id %>" class="text-body-emphasis text-decoration-none">
                        <div class="blog-post">
                            <h2 class="display-5 link-body-emphasis mb-1"><%=thePosts[4].title%></h2>
                            <p class="blog-post-meta"><%=thePosts[4].date.toDateString();%></p>
                            <p><%=thePosts[4].content.substring(0,100)%> <a href="/posts/<%=thePosts[4]._id%>"
                                    method="get" class="text-body-emphasis fw-bold icon-link gap-1 icon-link-hover "
                                    style="text-decoration: none;">
                                    Continue reading
                                    <svg class="bi">
                                        <use xlink:href="#chevron-right" />
                                    </svg>
                                </a> </p>

                            <hr>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">About the blog</h4>
                        <p class="mb-0">Hello there! I am Udit Sathe, pleased to know you've come by. This is a basic
                            blog setup for
                            your daily writing and keeping-up needs. Hope you enjoy your time here. Want to write an
                            article on
                            Bloggin?
                            <a href="/compose" style="text-decoration: none; color: black; font-weight: 500;">Compose
                                one<img src="../images/up-right-arrow.png" style="width:10px"></a></p>
                        </p>
                    </div>

                    <div>
                        <h4 class="fst-italic">Recent Posts</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/posts/<%=recentPosts[0]._id%>">

                                    <div class="col-lg-8">
                                        <h6 class="mb-0"><%=recentPosts[0].title%></h6>
                                        <small class="text-body-secondary"><%=recentPosts[0].date.toDateString();%>
                                        </small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/posts/<%=recentPosts[1]._id%>">

                                    <div class="col-lg-8">
                                        <h6 class="mb-0"><%=recentPosts[1].title%></h6>
                                        <small class="text-body-secondary"><%=recentPosts[1].date.toDateString();%>
                                        </small>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="/posts/<%=recentPosts[2]._id%>">

                                    <div class="col-lg-8">
                                        <h6 class="mb-0"><%=recentPosts[2].title%></h6>
                                        <small
                                            class="text-body-secondary"><%=recentPosts[2].date.toDateString();%></small>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer"); -%>